
html {
position: fixed;
width: 100%;
background-image:url(Background.avif);
background-size: 40%;
text-align: center;
background-repeat: no-repeat;
background-position-x: center;

}
header {
position: fixed;
width: 100%;
background-image: url(Background.avif);
background-size:40%;
text-align: center;
background-repeat: no-repeat;
background-position-x: center;
}
h1
{
    font-size: 30px;
    padding-bottom: 100px;
    color: black;
}
h2
{
    font-size: 50px;
    padding-bottom: 100px;
    color: black;
}

button{
    padding: 30px 60px;
    font-size: 50px;
    background-color: #2a7aca;
    color: white;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
}
#confettiButton
{
    background-color: #7607f5f6

}

button:hover{
    background-color: #144884;
    
}
@media(max-width: 800px)
{
    html
    {
        background-size: 100%
    }
    h1 
    {
        font-size: 20px;
    }
}


